<h1>Sandbox</h1>
<form [formGroup]="form">
  <ng-container formArrayName="items">
    <ng-container *ngFor="let item of items.controls; let index = index;">
      <div [formGroupName]="index">
        <label>First Name</label><input #firstName formControlName="firstName">
        <label>Last Name</label><input #lastName formControlName="lastName">
      </div>
    </ng-container>
  </ng-container>
</form>

<button (click)="addItem()">Add</button>
<button (click)="test()">test</button>

<pre>
  {{form.value | json}}
</pre>
